language: php

php:
  - 5.6
  - 7
  - hhvm

sudo: false

install:
  - composer install --no-interaction

script:
  - make test

after_success:
  - if [ "$TRAVIS_PHP_VERSION" == "5.6" ]; then travis_retry vendor/bin/test-reporter; fi
  - if [ "$TRAVIS_PHP_VERSION" == "5.6" ]; then travis_retry vendor/bin/coveralls -v; fi

addons:
  code_climate:
    repo_token: 03126b3e44039fb71a271a830a419eb9f97b874a73468f227b753d401badf96c
